<tr id="notification<%= comment_notification.id %>" class="notification">
  <td><%= link_to(image_tag(comment_notification.sender.avatar.url(:icon), :class => "img-polaroid"), user_path(comment_notification.sender)) %></td>
  <td><%= t('comment_notifications._comment_notification.message_html', user: link_to(comment_notification.sender.username, user_path(comment_notification.sender))) %></td>
  <td class="battle-icon">
    <% if comment_notification.option %>
        <%= show_option_icon(comment_notification.option) %>
    <% end %>
  </td>
</tr>
