<%= simple_form_for([@user, @email_settings], :remote => true, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.input :new_follower, as: :boolean %>
  <%= f.input :facebook_friend_sign_up, as: :boolean %>

  <div class="control-group">
    <div class="controls">
      <%= f.submit(t('buttons.update'), :class => "btn btn-primary", :id => "update_email_settings") %>
    </div>
  </div>
<% end %>
