<div class="row">
  <div class="span12">
    <h2><%= t 'contests._total_hour.title' %></h2>
  </div>

  <div class="span12">
    <div id="canvas_hours_box" class="center">
      <%= content_tag "div", id: "data_hours", data: {hours: @results_by_hour} do %>
        <canvas id="canvas_hours" height="170"></canvas>
      <% end %>
    </div>
  </div>
</div>
