<div class="overlay">
  <div id="container" class="container">
    <div class="inner-box">
      <div class="row">
        <div class="span6 offset3 user-black-box-container">

          <div class="row">
            <div class="span6">
              <div class="close-box">
                <div class="pull-right">
                  <i id="close-user-form" class="icon-remove"></i>
                </div>
              </div>
            </div>
          </div>

          <div id="user-black-box">
            <div class="row">
              <div class="span6 center">
                <h4 class="profile-picture-title"><%= t 'users._overlay_form.title' %></h4>
              </div>
            </div>

            <div class="row">
              <div class="span2 offset2">
                <%= render :partial => "users/form", :locals => { :user => user } %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
