<div id="option<%= option[:id] %>">
  <div class="span4">

    <div class="option-box">
      <div class="row">
        <div class="span4">
          <div class="picture-box">
            <%= image_tag option.picture.url(:medium) %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span4">
        <h3 class="center"><%= option.name %></h3>
      </div>
    </div>

  </div>
</div>
