<div class="span12">
  <div class="row">
    <div class="span8 offset2">
      <table id="users-index" class="table">
        <%= render friends %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="span8 offset2">
      <p class="user-pagination">
        <% if friends.last_page? %>
          <% if @find_friends %>
            <div class="row">
              <div class="span4 offset2 find-facebook-friends-container"><%= find_facebook_friends_button(t('buttons.update_facebook_friends')) %></div>
            </div>
          <% end %>
          <div class="row">
            <p class='center user-last_page'><%= image_tag("watermark_small.png") %></p>
          </div>
        <% else %>
          <%= link_to_next_page(friends, t('friendships._index.next'), :remote => true, :class => "next_page") %>
        <% end %>
      </p>
    </div>
  </div>
</div>
