<% if can? :create, Battle %>
  <div id="battle_new">
    <div class="row">
      <div class="span12" id="battle_form" style="display:none;"></div>
    </div>

    <div class="row">
      <div class="span3 pull-right">
        <div class="pull-right">
          <%= render 'battles/filter' %>
        </div>
      </div>

      <div class="span6 offset3">
        <div class="center">
          <%= link_to(new_battle_path, :id => "add_battle", :remote => true, :class => "btn btn-inverse center btn-large extra-space") do %>
            <i class="icon-plus icon-inverse"></i><%= " #{t 'battles._index.add_battle'}" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>
