<%= f.link_to_remove(:class => "remove_option_form") do %>
  <i class="icon-remove"></i>
<% end %>

<div class="row">
  <% for i in 1..4 %>
    <div class="span6">
      <label class="radio">
        <%= f.radio_button(:picture, i, :checked => (i == 1))%>
        <div class="picture<%=i%> picture"></div>
      </label>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="span12">
    <div class="center">
      <%= f.input(:name, label: false, input_html: { :class => "input-xlarge h3 center option_name", :placeholder => t('activerecord.attributes.option.name') }) %>
    </div>
  </div>
</div>
