<div class="span12">
  <div id="login-box" style='display:none;'></div>

  <div id="battle_index">
    <%= render 'battles/form' %>
  </div>

  <p class="pagination">
    <p class='center last_page'><%= image_tag("watermark_small.png") %></p>
  </p>
</div>

