<div class="span5">
  <div class="main-frame">
    <h2><%= t('.title') %></h2>

    <%= render "devise/sessions/form" %>

    <div class="form-horizontal">
      <div class="control-group">
        <div class="controls">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="span7">
  <div class="logo-sign-in">
    <%= link_to image_tag("logo_medium.png", alt: t('layouts._navigation.page_title')) %>
  </div>
</div>
