/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

$radius: 0px;
$logo-color: #eee;
$border-color: #E5E5E5;
$background-color: #F3F3F3;

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  text-align: center;
}
#flash_notice {
  background-color: #afe9c6;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $logo-color;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: bold;
  line-height: 60px;
}

#logo:hover {
  color: $logo-color;
  text-decoration: none;
}

.nav li {
  padding-top: 12px;
  font-size: 1.1em;
}

i.icon-user-nav {
  margin-top: 2px;
}

div.container a.btn-navbar {
  padding-top: 10px;
  margin-top: 16px;
  padding-bottom: 10px;
}

.center {
  text-align: center;
}

.main-box {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: -11px;
  margin-right: -11px;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $radius;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05) inset;
}

a.extra-space {
  margin-bottom: 30px;
}

.btn {
  margin-top: 6px;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-image: url(smoke.png);
  background-repeat: repeat;
}

.inner-box {
  @media (min-width: 768px) {
    position: fixed;
    top: 10%;
  }
  @media (max-width: 767px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.delete_picture {
  position: absolute;
  top: 0;
  z-index: 10;
  background: white;
}

#search-form {
  padding-top: 5px;
  padding-right: 20px;
}

#search-form form {
  margin-bottom: 0px;
}
