$date-color: #EDEDED;
$border-color-current: lighten(#46a546, 30%);
$border-color-finished: #E5E5E5;
$background-color-current: lighten(#46a546, 45%);
$background-color-finished: #f9f9f9;

.show-end-date {
  margin-left: -30px;
  border-right: 1px solid $date-color;
  box-shadow: -10px 3px 10px rgba(0, 0, 0, 0.08) inset;
}

.show-start-date {
  border-left: 1px solid $date-color;
  box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.08) inset;
}

.show-end-date, .show-start-date {
  font-size: 1.5em;
  border-top: 1px solid $date-color;
  border-bottom: 1px solid $date-color;
  color: #777;
  margin-bottom: 20px;
  padding: 2px;
  background-color: $date-color;
}

.date-right {
  text-align: right;
}

.date-left {
  text-align: left;
}

#battle-options-error {
  color: #B94A48;
}

.battle-options-error {
  border: 1px solid #B94A48;
  border-radius: 6px;
}

div.add_new_option_container {
  padding-bottom: 100%;
  position: relative;
}

div.add_new_option_container a {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.add-option-box {
  margin-top: 22px;
}

.main-box.battle-current {
//   background-color: $background-color-current;
  border: 1px solid $border-color-current;
  box-shadow: 0px 3px 10px rgba(70, 165, 70, 0.2) inset;
  .show-start-date {
    background-color: $background-color-current;
    box-shadow: 10px 3px 10px rgba(70, 165, 70, 0.25) inset;
  }
  .show-end-date {
    background-color: $background-color-current;
    box-shadow: -10px 3px 10px rgba(0, 0, 0, 0.08) inset;
  }
}

.main-box.battle-finished {
  background-color: $background-color-finished;
  border: 1px solid $border-color-finished;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05) inset;
}
