$grayDark:    #333;
$gray:        #888;
$grayLighter: #eee;
$red:         #9d261d;

$optionBoxBackground: #FFFFFF;
$optionBoxAddBackground: $grayLighter;
$boxesBorders: $grayDark;

.option-box {
  background-color: $optionBoxBackground;
  border: 6px solid $boxesBorders;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08) inset;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.new-option-box {
  border: 2px solid $boxesBorders;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08) inset;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.option-box-editable {
  border-style: dashed;
}

.picture-box {
  position: relative;
  background-color: #fff;
}

.picture_preview {
  padding-bottom: 100%;
  position: relative;
}

.picture_preview_container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

div.no_picture_container {
  padding-bottom: 100%;
  position: relative;
}

div.no_picture_container div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.no_picture_circle {
  height: 50%;
  width: 50%;
  background-color: $optionBoxAddBackground;
  border: 2px solid $boxesBorders;
  border-radius: 50%;
  text-align: center;
  padding: 10%;
}

div.no_picture_circle {
  position: relative;
}

div.no_picture_container h4 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.delete_picture.delete-picture-option {
  right: 12px;
}

.option-box:hover {
  background-color: darken($optionBoxBackground, 2%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.10) inset;
  cursor: pointer;
}

.option-box.option-box-editable:hover {
  border: 6px dashed lighten($boxesBorders, 15%);
}

.option-box.option-box-editable.error {
  border: 6px dashed $red;
}

.option-name {
  margin-top: 0px;
  margin-bottom: 2px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 20px;
}

.option-outer-box {
  background-color: darken(#eee, 5%);
}

.option-bottom-margin {
  padding-bottom: 20px;
}

.vote-icon:hover {
  cursor: pointer;
}

i.selected_icon {
  color: #FF9522;
}

.comment-icon {
  color: $grayDark;
}

.comment-icon:hover {
  color: $grayDark;
}

.next_page-option {
  margin-bottom: 10px;
}

.top-comments-table {
  background-color: $grayLighter;
  margin-bottom: 0px;
}

.comments-title {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: $gray;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.no-comments {
  margin-top: 20px;
}

.new-comment-body-cell {
  width: 100%;
}

.new-comment {
  width: 90%;
}
