p.username {
  margin-top: 5px;
  padding-top: 12px;
  font-size: 31.5px;
  height: 50px;
}

p.user-button {
  margin-left: 20px;
}

a.btn-unfollow .unfollow { display: none; }
a.btn-unfollow:hover .following {
  display: none;
}
a.btn-unfollow:hover .unfollow {
  display: inline;
}

.logo-sign-in {
  padding-top: 80px;
  padding-bottom: 80px;
}
