$selectedColor: #FF9522;
$victoriousColor: #37C871;

.vote_picture {
  background-color: #FCFCFC;
}

.selected_picture {
  box-shadow: 0px 0px 200px rgba(255, 149, 34, 1) inset;
}

.selected_box {
  border: 6px solid darken($selectedColor, 15%);
}

.outer_selected_picture {
  box-shadow: 0px 0px 10px 7px rgba(255, 149, 34, 1);
}

.victorious_picture {
  box-shadow: 0px 0px 200px rgba(55, 200, 113, 1) inset;
}

.victorious_box {
  border: 6px solid darken($victoriousColor, 5%);
  outline: 3px solid $victoriousColor;
}

.victorious_box.selected_box {
  border: 6px solid darken($selectedColor, 15%);
  outline: 3px solid $victoriousColor;
}

.outer_victorious_picture {
  box-shadow: 0px 0px 12px 9px rgba(55, 200, 113, 1);
}

.vote-count {
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 15px;
}

.vote-user {
  font-size: 13px;
  margin: 0;
}

.table td.vote-cell {
  padding: 4px;
}

.vote-size-biggest {
  font-size: 22px;
}

.vote-size-big {
  font-size: 20px;
}

.vote-size-medium {
  font-size: 16px;
}

.vote-size-small {
  font-size: 12px;
}

.vote-size-smallest {
  font-size: 10px;
}

.new_vote {
  margin-top: 0px;
  margin-bottom: 0px;
}
