$selectedColor: #FF9522;

.vote_picture {
  background-color: #FCFCFC;
}

.selected_picture {
  box-shadow: 0px 0px 200px rgba(255, 149, 34, 1) inset;
}

.selected_box {
  border: 6px solid darken($selectedColor, 20%);
}

.outer_selected_picture {
  box-shadow: 0px 0px 30px rgba(255, 149, 34, 1);
}

