<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table width="100%" style="background-color:#afe9c6;">
      <tbody>
        <tr>
          <td width="580" align="center" style="padding:35px 0 35px 0;">


            <table width="580" style="background-color:#ffffff; border-radius:2px">
              <tbody>

                <tr>
                  <td width="580" style="padding:10px 30px 10px 30px;">
                    <h3>
                      <%= t('.title', user: @email) %>
                    </h3>
                  </td>
                </tr>

                <tr>
                  <td width="580" align="left" style="padding:0 30px 20px 30px;">
                    <p>
                      <%= t('.confirmation_message_html') %>
                    </p>
                  </td>
                </tr>

                <tr>
                  <td align="center" style="padding:0 35px 40px 35px">

                    <table width="100%">
                      <tbody>
                        <tr>
                          <td align="center" style="padding:14px 20px 14px 20px; background-color:#ff5555; border-radius:4px">
                            <%= link_to(
                              t('.confirm'),
                              confirmation_url(@resource, :confirmation_token => @token),
                              style: "text-decoration:none; text-align:center; font-size:18px; font-weight:bold; letter-spacing:0.5px; color:#FFF"
                            ) %>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>

              </tbody>
            </table>


          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
