<div id="<%="results#{id}"%>" class="results">
  <div class="row">
    <div class="span4">
      <h4 class="center">
        <%= t('votes._results.votes', count: votes) %>
      </h4>
    </div>
  </div>
</div>
