<tr id="vote<%=vote.id%>">
  <td class="vote-cell">
    <h5 class="pull-left vote-user">
      <%= link_to(image_tag(vote.user.avatar.url(:icon), :class => "img-polaroid"), user_path(vote.user)) %>
      <%= link_to(vote.user.username, user_path(vote.user)) %>
    </h5>
  </td>
</tr>
