<div id="overlay">
  <div id="container" class="container">
    <div class="row">
      <div class="span12">

        <div class="row">
          <div class="span12">
            <div class="close-box">
              <div class="pull-right">
                <div id="close_results" class="icon-close picture"></div>
              </h3>
            </div>
          </div>
        </div>

        <div class="results-box">

          <div class="row">
            <div class="span12">
              <h3><%= t('votes._vote.registered_html', :name => @registered_vote.option.name) %></h3>
            </div>
          </div>

          <div class="row">
            <%= render "votes/results" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
