<table width="580" style="background-color:#ffffff; border-radius:2px">
  <tbody>

    <tr>
      <td width="580" align="left" style="padding:0 30px 0 100px;">
        <p style="margin-bottom:0;">
          <%= link_to(url_for(:host => t('mailers.url', locale: (@user.language || I18n.locale)),
                              :controller => "users",
                              :action => "home")
                             ) do
            image_tag attachments['logo_short.png'].url
          end %>
        </p>
      </td>
    </tr>

    <tr>
      <td width="580" style="padding:0 30px 10px 30px;">
        <h2 style="margin-top:0;">
          <%= t('mailers.friendship.facebook_friend_sign_up.hello', name: user_name_for(@user), locale: (@user.language || I18n.locale)) %>
        </h2>
      </td>
    </tr>

    <tr>
      <td width="580" align="center" style="padding:0 30px 20px 30px;">
        <h3>
          <%= t('mailers.friendship.facebook_friend_sign_up.follow_html',
                friend: (link_to(url_for(:host => t('mailers.url', locale: (@user.language || I18n.locale)),
                                           :controller => "users",
                                           :action => "show",
                                           :id => @friend.username),
                                   style: "color:#ff5555"
                          ) do
                            user_name_for(@friend)
                          end), locale: (@user.language || I18n.locale))
          %>
        </h3><br>
      </td>
    </tr>

    <tr>
      <td align="center" style="padding:0 35px 40px 35px">

        <table width="100%">
          <tbody>
            <tr>
              <td align="center" style="padding:14px 20px 14px 20px; background-color:#ff5555; border-radius:4px">
                <%= link_to(url_for(:host => t('mailers.url', locale: (@user.language || I18n.locale)),
                                    :controller => "users",
                                    :action => "show",
                                    :id => @friend.username),
                            style: "text-decoration:none; text-align:center; font-size:18px; font-weight:bold; letter-spacing:0.5px; color:#FFF"
                           ) do
                  t('mailers.friendship.facebook_friend_sign_up.visit_profile',
                    friend: user_name_for(@friend),
                    locale: (@user.language || I18n.locale))
                end %>
              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>

  </tbody>
</table>
