<div id="social-footer" class="visible-desktop">
  <ul class="nav">
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
  </ul>
</div>
