<ul class="nav nav-pills">
  <li class="<%= is_active?(page_path('privacy_policy')) %>">
    <%= link_to t('layouts._pages.privacy_policy'), page_path('privacy_policy') %>
  </li>
  <li class="<%= is_active?(page_path('terms_of_service')) %>">
    <%= link_to t('layouts._pages.terms_of_service'), page_path('terms_of_service') %>
  </li>
</ul>
