<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table width="100%" style="background-color:#afe9c6;">
      <tbody>
        <tr>
          <td width="580" align="center" style="padding:35px 0 35px 0;">
            <%= yield %>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
